/* Stylesheet for About page */

h1, h2{
    font-family: "Volkhov", serif;
    font-weight: normal;
    font-size: 3.5em;
    margin: 5px;
}

h2 {
    font-size: 3em;
}


p {
    font-family: "Inter", sans-serif;
    color: dark gray;
}

#about-container{
  width: 70%;
  display: flex;
  margin: auto;
  gap: 100px;
}


@media screen and (max-width: 1250px){
  #about-container{
    width: 80%;
    margin: auto;
  }

  #about-text{
    width: 70%;
    margin: auto;
  }

}

#about-container img{
    width: 50%;
    display: block;
    margin: auto;
}

.emphasis{
    font-size: 24px;
}

@media screen and (max-width: 1250px){
  .emphasis{
    font-size: 18px;
  }
}

.highlight{
    font-weight: bold;
    color: #963325;
}


.divider{
    display: flex;
    margin: auto;
    width: 70%;
    align-content: center;
    color: #963325;
}

.divider p{
    font-weight: bold;
    width: fit-content;
}

.line{
    margin: auto;
    background-color:#D9D9D9;
    height: 2px;
    width: 80%;
}

@media screen and (max-width: 1250px){
  .line{
    width: 70%;
  }
}

/* Code for the bottom gallery animation, changes in variable naming and media queries*/
/* https://codemyui.com/grayscale-to-colour-animation-on-hover-for-team-section/ */


/* Utilities */
.auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size, 14rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;
  background-color: black;
}

@media screen and (max-width: 1250px) {
  .auto-grid{
    width: 70%;
    margin: auto;
  }
}
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.more {
  --flow-space: 2em;
}

/* Blocks */
.block {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: white;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.block::before,
.block::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.block::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 7.8%,
    hsl(0 0% 0% / 0.779) 14.4%,
    hsl(0 0% 0% / 0.765) 20.2%,
    hsl(0 0% 0% / 0.744) 25.3%,
    hsl(0 0% 0% / 0.717) 29.9%,
    hsl(0 0% 0% / 0.683) 34.3%,
    hsl(0 0% 0% / 0.641) 38.7%,
    hsl(0 0% 0% / 0.592) 43.3%,
    hsl(0 0% 0% / 0.534) 48.4%,
    hsl(0 0% 0% / 0.468) 54.1%,
    hsl(0 0% 0% / 0.393) 60.6%,
    hsl(0 0% 0% / 0.31) 68.3%,
    hsl(0 0% 0% / 0.216) 77.3%,
    hsl(0 0% 0% / 0.113) 87.7%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.block::after {
  background: linear-gradient(
    45deg,
    hsl(5 97% 63% / 0.7) 0,
    hsl(5 97% 63% / 0) 100%
  );
  opacity: 0;
  transition: 300ms opacity linear;
}

.block > * {
  z-index: 1;
}

.block img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.block h2,
.block p {
  transform: translateY(2ex);
}

.block h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
}

.block p {
  font-size: 1.2rem;
  font-weight: 500;
}

.block p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.block:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.block:hover :is(h2, p),
.block:focus :is(h2, p) {
  transform: none;
}

.block:hover::after,
.block:focus::after,
.block:hover::before,
.block:focus::before {
  opacity: 0.7;
}

.block:hover p,
.block:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.block:hover img,
.block:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}